<h1>
	Profile of: <%= @user.name %>
	<%= gravatar_for @user %>
</h1>

<% if current_user == @user %>
	<%= link_to "Add new post", new_user_post_path(current_user) %></br>
	<%= link_to "Friendship requests pending", friend_requests_path %></br>
<% end %>
	
<%= link_to "Show posts", user_posts_path(@user) %>
<%= link_to "All friends", friends_index_path %>