<h1><%= @post.title %></h1>
<h2>By: <%= @user.name %></h2>

<h3>Text: </h3>

<%= @post.text %></br>

<p>Created at: <%= @post.created_at %></p>
<p>Last updated at: <%= @post.updated_at %></p>

<% if @user == current_user %>
	<%= link_to "Delete", user_post_path(id: params[:id], user_id: params[:user_id]), method: :delete %></br>
	<%= link_to "Edit", edit_user_post_path(id: params[:id], user_id: params[:user_id]) %></br>
<% end %>

<% if user_signed_in? %>
	<% unless current_user.liked_posts.include?(@post) %>
		<%= link_to "Like", likes_create_path(id: params[:id], user_id: params[:user_id]) %>
	<% else %>
		<%= link_to "Unlike", likes_destroy_path(id: params[:id], user_id: params[:user_id]) %>
	<% end %>

	<%= form_for [current_user, @post, @comment] do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %></br>

		<%= f.label :text %>
		<%= f.text_area :text %></br>

		<%= f.submit %>
	<% end %>
<% end %>

<% if @likes.empty? %>
	<p>Nonone likes this post!</p>
<% else %>
	<p>Users who like the post:</p></br>
	<ul>
		<% @likes.each do |like| %>
			<li><%= like.user.name %></li></br>
		<% end %>
	</ul>
<% end %>

<% if @comments.empty? %>
	<p>There are no comments yet</p>
<% else %>
	<h3>Comments:</h3>
	<ul>
		<% @comments.each do |comment| %>
			<li>
			<%= comment.title %></br></br>
			<%= comment.text %></br></br>
			<% if comment.user == current_user %>
				<%= link_to "Delete", user_post_comment_path(id: comment.id, post_id: params[:id], user_id: params[:user_id]), method: :delete %>
			<% end %></br></br></br></li>
		<% end %>
	</ul>
<% end %>